body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #434455;
}

ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
